// websiteAds list
.announcement-list {
    padding-top: 30px;
    background-color: #eee;
    .announcement {
      max-width: 390px;
      margin: 0 auto @spacing-lg-px;
      background-color: @white;
    //border: 3px solid @white;
      border-radius: 10px;
      display: block;
      width: 100%;
    }
  
    .announcement-title {
      margin: @spacing-sm-px 0;
    }
  
    img {
      width: 100%;
    }
  }
  
  .announcement-detail {
    img {
      width: 100%;
    }
  }