.search-wrapper {
  overflow-x: hidden !important;
}

.searchContainer {
  background-color: #fff;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.formStyle {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputStyle {
  color: black;
}

.itemStyle {
  color: #1a1c1d;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: inherit;
  }

  p {
    text-align: left;
  }
}

.btnItem {
  width: 90%;
  background-color: #313e48;
  border-color: #273139;
  color: #fff;
  font-family: "nunito-sans", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.itemContainer {
  width: 75%;
  background-color: #fff;
  padding: 25px;
  margin: 10px;
  border-radius: 20px;
}
