.user-image {
    img {
        max-height: 150px;
    }
}

.user-item {
    justify-content: center;
    
    .user-image {
        padding: @spacing @spacingLarger;
        max-width: 200px;
    }
}