.albumn-embed-list {
    //padding: 0;

    .content-area {
        //padding: 0;
    }

    .album-item {
        position: relative;
        overflow: hidden;

        .album-cover-details {
            background-color: rgba(0, 0, 0, 0.75);
            position: absolute;
            left: 0;
            bottom: 0;
            top: 100%;
            right: 0;
            transition: all ease-in-out 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;

            > div {
                text-align: center;
            }

            .btn {
                margin-left: auto;
                margin-right: auto;
            }

            h3 {
                color: @white;
                padding-left: 1rem;
                padding-right: 1rem;
                text-align: center;
            }

            .album-links {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                > a {
                    font-size: 2rem;
                    display: block;
                    //padding: 0.5rem 1rem;
                    border-radius: 100%;
                    height: 60px;
                    width: 60px;
                    line-height: 60px;
                    margin-right: 1rem;
                    transition: all ease-in-out 0.3s;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background-color: @white;
                        color: @brand-primary;
                    }
                }
            }
        }

        &:hover {
            .album-cover-details {
                top: 0;
                opacity: 1;
            }
        }
    }
}

.playlist-modal {

    .modal-content {
        padding: 0;
    }

    .close {
        z-index: 9;
    }

    .modal-header {
        //display: none;
        padding: 0;
    }

    .modal-body {
        padding: 0;    
    }

    iframe {
        display: block;
    }
}

@media (min-width: @screen-desktop) {
    .album-wrapper {
        justify-content: center;
    }
}