
.alert-text {
    //display: block;
    margin-bottom: 0;
}

.alert {
    font-size: 0.9rem;
}

.alert.alert-heading {
    margin: 0;
    border: 0 none;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;

    > a {
        display: block;
        padding: @spacing @spacing @spacing;
        text-decoration: none;
        border: 0;
        outline: none;
    }

    &.alert-info {
        background-color: @alert-color;
        color: @white;
    }

    &.alert-primary {
        background-color: @brand-primary;
        color: @white;
    }

    .btn-sm {
        margin-top: 7px;
        margin-bottom: 0;
        font-size: 0.625rem;
        padding: @spacingSmall @spacingLarger;
    }
}

@media (min-width: @screen-desktop) {
    .alert-text {
        display: inline-block;
        margin-right: @spacingSmall;
    }

    .alert {
        .btn.btn-sm {
            margin: 0 0 @spacingSmall*.25;

            &:hover {
                background-color: lighten(@brand-info, 20%);
            }
        }
    }
}