html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin-bottom: 58px;
    overflow-x: hidden;
}

.wrapper-style {
    overflow-x: hidden;
}

.page-wrapper {
    padding-top: 58px;
    overflow: hidden;
}

@media (min-width: @screen-desktop) {
    body {
        margin-bottom: 0;
    }

    p {
        line-height: @paragraph-line-height;
    }

    .page-wrapper {
        padding-top: 0;
        margin-top: 0;
    }
}

.breadcrumb {
    background-color: @white;
    margin-bottom: 0;
}

#cms-admin-footer {
    display: none;
}

@media (min-width: @screen-desktop) {
    
    #cms-admin-footer {
        display: block;
    }
}

.push.slide-wrap {
    position: relative;
}

.account-dashboard-sidebar {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.main {
    padding-top: @spacing2x;
}

@media (min-width: @screen-desktop) {
    .main {
        padding-top: @spacing3x;
    }
}

.lead-video {
    margin-top: -@spacing4x;
}